ANVIL_RPC=
LOCALHOST_PRIVATE_KEY=
SEPOLIA_RPC=https://rpc2.sepolia.org

# Sonic Testnet
SONIC_BLAZE_TESTNET_RPC="https://rpc.blaze.soniclabs.com"
SONIC_BLAZE_TESTNET_PRIVATE_KEY="<YOUR_PRIVATE_KEY>"
ULTRAVERIFER_CONTRACT_ADDRESS_ON_SONIC_TESTNET="<YOUR_CONTRACT_ADDRESS of the UltraVerifier contract-deployed on Sonic Testnet>"
STARTER_CONTRACT_ADDRESS_ON_SONIC_TESTNET="<YOUR_CONTRACT_ADDRESS of the Starter contract-deployed on Sonic Testnet>"

# Electroneum Testnet
ELECTRONEUM_TESTNET_RPC="https://rpc.ankr.com/electroneum_testnet"
ELECTRONEUM_TESTNET_PRIVATE_KEY="<YOUR_PRIVATE_KEY>"
ULTRAVERIFER_CONTRACT_ADDRESS_ON_ELECTRONEUM_TESTNET="<YOUR_CONTRACT_ADDRESS of the UltraVerifier contract-deployed on Electroneum Testnet>"
STARTER_CONTRACT_ADDRESS_ON_ELECTRONEUM_TESTNET="<YOUR_CONTRACT_ADDRESS of the Starter contract-deployed on Electroneum Testnet>"
