cache
out
proofs
broadcast
.env
plonk_vk.sol

circuits/circuit-for-country/arget/*
circuits/circuit-for-travel-history/arget/*

.DS_Store
./circuits/.DS_Store
./contracts/.DS_Store
./contract/.DS_Store
./script/.DS_Store
./test/.DS_Store

circuits/circuit-for-country/Prover.toml
circuits/circuit-for-travel-history/Prover.toml
circuits/circuit-for-country/Verifier.toml
circuits/circuit-for-travel-history/Verifier.toml

circuits/circuit-for-country/test_verifyProof.toml
circuits/circuit-for-travel-history/test_verifyProof.toml

node_modules
package-lock.json