cache
out
proofs
broadcast
.env
plonk_vk.sol
circuits/target/*

.DS_Store
./circuits/.DS_Store
./contracts/.DS_Store
./contract/.DS_Store
./script/.DS_Store
./test/.DS_Store

circuits/Prover.toml
circuits/Verifier.toml

circuits/test_verifyProof.toml

node_modules
package-lock.json